.userList-container{
    padding:30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap:30px
}

.user-profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color:black;

}

.user-container{
    min-height: 100vh;
    max-width: 1350px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
     margin: 0% auto;
}
.user-container1{
    margin: 20px;
    padding-top: 30px;
}
.user-container1 h1{
    font-weight: 400;
}
.user-profile-link h3{
    padding:10px 13px;
    background-color: #d3d3d3;
    border-radius: 50%;
}
.user-profile-link h5{
    margin:0px 10px;

}